.rounded-img {
  width: 15em;
  border-radius: 30%;
  box-shadow: 0 0 10px rgba(190, 22, 22, 0.4);
  padding: 0.5em;
  margin-bottom: 1em;
  margin: 1%;

}

body {
  background-color: #d6faf4;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: blueviolet;
  border-width: 5px;
  width: 5%;
}

h1{
  color: chocolate;
}

h2{
  color: blue;
}

h3{
  color: goldenrod;
}

/*
width: 30%;
border-radius: 30%;
box-shadow: 0 0 10px rgba(26, 9, 9, 0.4);
padding: 0.5em;
margin-bottom: 1em;
margin: 1%;
*/
